.nav {
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    position: relative;
    width: 100%;
    text-align: center;
}

.nav img  {
    height: 30px;
}


.linksList {
    list-style: none;
    margin-left: 0;
    text-align: center;
}

.linkItem {
    display: inline-block;
    padding: 20px;
}

@media only screen and (max-width:700px) {
    .linkItem {
        display: block;
        width: 100%;
    }
}
